/*  your css code here. If applicable */
body {
  background-color: #f8f8f8;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
}

.book-library {
  background-color: #ffffff;
  padding: 20px;
  width: 700px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.book-library h1 {
  text-align: center;
  margin-bottom: 30px;
}

.book {
  align-items: center;
  background-color: rgb(46, 204, 113);
	color:rgb(46, 204, 113);
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 5px;
}

.book img {
	display:flex;
	justify-content: center;
	align-items: center;
  width: 150px;
  height: auto;
  margin-right: 30px;
}

.info h3 {
  margin: 0;
}

.info p {
  color: #777;
  margin: 5px 0 15px;
}

.price {
  background-color: #2ecc71;
  color: white;
  padding: 10px;
  text-align: center;
  width: 100vh;
  border-radius: 5px;
  font-weight: bold;
}
